@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    a, button {
        outline: none;
    }

    /** BUTTONS */
    .button-bsl {
        @apply shadow inline-flex px-4 py-2 rounded-full transition-all duration-200 text-white  items-center justify-center bg-bsl text-xl
        hover:bg-bsl-accent focus:ring-4 focus:ring-bsl-light hover:ring-4 hover:ring-bsl-accent-light outline-none;
    }

    .button-bsl-accent {
        @apply shadow inline-flex px-4 py-2 rounded-full transition-all duration-200 text-white  flex items-center justify-center bg-bsl-accent text-xl
        hover:bg-bsl hover:text-white focus:ring-4 focus:ring-bsl-accent-light hover:ring-4 hover:ring-bsl-light outline-none;
    }

    /** FORMS */
    textarea {
        resize: none;
    }

    [type='text'],
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='datetime-local'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='week'],
    [multiple],
    textarea,
    select {
        @apply w-full border-gray-300 focus:border-transparent focus:ring-4 focus:ring-bsl-light rounded transition shadow-sm outline-none;
    }

    form label {
        @apply block mb-1 text-lg;
    }

    /** HEADERS */
    h1 b, h2 b, h3 b, h4 b {
        @apply font-bold
    }

    h2 {
        @apply text-4xl lg:text-6xl leading-tight
    }

    h3 {
        @apply text-3xl lg:text-4xl text-center
    }

    /** TEXT */
    p, h1, h2, h3, h4 {
        max-width: 65ch;
    }

    /** SCROLLING */
    html {
        scroll-behavior: smooth;
    }

}
